In [2]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv(
    filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data',
    header=None,
    sep=',')

In [13]:
df.columns= ['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class']

In [9]:
x = df.loc[:,['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid']]
y = df.loc[:,'class']

In [10]:
x.head(), y.head()

(   sepal_len  sepal_wid  petal_len  petal_wid
 0        5.1        3.5        1.4        0.2
 1        4.9        3.0        1.4        0.2
 2        4.7        3.2        1.3        0.2
 3        4.6        3.1        1.5        0.2
 4        5.0        3.6        1.4        0.2, 0    Iris-setosa
 1    Iris-setosa
 2    Iris-setosa
 3    Iris-setosa
 4    Iris-setosa
 Name: class, dtype: object)

In [67]:
from sklearn.preprocessing import StandardScaler

In [12]:
te = x.copy()
yt=  y.copy()

In [13]:
X_std = StandardScaler().fit_transform(x)

In [ ]:
X_std

In [27]:
def calculate_dim_reduction(func = "PCA", train_x = None,train_y = None,component = None, ):
    if component == None:
        component = train_x.shape[1]
        
    if func == "PCA":
        from sklearn.decomposition import PCA as func
        dim_reduc = func(n_components=component)
        hand = dim_reduc.fit(train_x)
        trans_x = dim_reduc.fit_transform(train_x)
    elif func == "LDA":
        from  sklearn.discriminant_analysis import LinearDiscriminantAnalysis as func
        dim_reduc = func(n_components=component)
        hand = dim_reduc.fit(train_x, train_y)
        trans_x = dim_reduc.fit_transform(train_x, train_y)
    elif func == "TSNE"  :
        from sklearn.manifold import TSNE as func
        dim_reduc = func(n_components=component)
        hand = dim_reduc.fit(train_x)
        trans_x = dim_reduc.fit_transform(train_x)
      
    return trans_x, hand

In [28]:
trans_train_x, handle =  calculate_dim_reduction(func="TSNE",train_x = X_std,train_y=y, component=3)

In [20]:
print(X_std.shape[1], "shape", X_std.shape)

4 shape (150, 4)

In [18]:
handle.explained_variance_ratio_

array([0.99147248, 0.00852752])

In [21]:
handle.explained_variance_ratio_

array([0.72770452, 0.23030523, 0.03683832, 0.00515193])

In [26]:
handle.explained_variance_ratio_

AttributeError: 'TSNE' object has no attribute 'explained_variance_ratio_'

In [ ]:
Y.explained_variance_

In [ ]:
from  sklearn.discriminant_analysis import LinearDiscriminantAnalysis as func
dim_reduc = func()
hand = dim_reduc.fit(te, yt)
trans_x = dim_reduc.fit_transform(te,yt)

In [ ]:
Y.components_

In [ ]:
Y.explained_variance_ratio_

In [ ]:
Y.n_components_

In [ ]:
Y.mean_,

In [ ]:
Y.noise_variance_

In [ ]:
Y.get_covariance()

In [ ]:
Y.get_covariance()

In [ ]:
Y.get_params()

In [ ]:
YY

In [66]:
df.head()

   sepal_len  sepal_wid  petal_len  petal_wid        class
0        5.1        3.5        1.4        0.2  Iris-setosa
1        4.9        3.0        1.4        0.2  Iris-setosa
2        4.7        3.2        1.3        0.2  Iris-setosa
3        4.6        3.1        1.5        0.2  Iris-setosa
4        5.0        3.6        1.4        0.2  Iris-setosa

In [19]:
df.groupby("class").first()

                 sepal_len  sepal_wid  petal_len  petal_wid
class
Iris-setosa            5.1        3.5        1.4        0.2
Iris-versicolor        7.0        3.2        4.7        1.4
Iris-virginica         6.3        3.3        6.0        2.5

In [26]:
df = dff.copy()

In [50]:
fd = pd.DataFrame({'A': [1, 1, 2, 2],
...                    'B': [1, 2, 3, 4],
...                    'C': np.random.randn(4)})

In [51]:
fd

   A  B         C
0  1  1  1.302572
1  1  2  0.603437
2  2  3 -0.498026
3  2  4  0.866395

In [40]:
fd.groupby(["A"]).agg(["min","max","mean"])

    B                  C
  min max mean       min       max      mean
A
1   1   2  1.5 -0.097798  0.859360  0.380781
2   3   4  3.5 -0.070293  0.330843  0.130275

In [43]:
fd["square"] = fd["A"].apply((lambda x: x**2))

In [44]:
fd

   A  B         C  square
0  1  1  0.859360       1
1  1  2 -0.097798       1
2  2  3 -0.070293       4
3  2  4  0.330843       4

In [65]:
fd.apply(lambda x: (x - np.mean(x))/np.std(x))

     A         B         C
0 -1.0 -1.341641  1.104537
1 -1.0 -0.447214  0.052433
2  1.0  0.447214 -1.605120
3  1.0  1.341641  0.448150

In [63]:
np.std(2)

0.0