# Component Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
total_data  = pd.read_csv("C:\\R_Lang\Hackathons\\Sample Data\\Classification\\vipin_sms_to_id.csv")

In [3]:
total_data.shape

(808, 310)

In [4]:
total_data.head(1)

,SMSId,RadarId,CrashId,Submit Date,Current State,LogLocation,FileName,Current Component,ComponentMovement_1,SIG_100000,...,SIG_200280,SIG_200282,SIG_200284,SIG_200286,SIG_200288,SIG_200290,SIG_200292,SIG_200294,SIG_200296,SIG_200298
0,1,Radar-33176651,null,7/7/2017 11:17,Closed,SMS20642181/log-bb-2017-06-27-11-33-32-444-bb-...,log-bb-2017-06-27-11-33-32-444-bb-trace_,E-RRC,E-RRC,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
total_data = total_data.drop(['RadarId','CrashId','Submit Date','Current State','LogLocation','FileName','ComponentMovement_1', 'SIG_200298'], axis = 1)

In [6]:
total_data = total_data.drop([807], axis = 0)

In [ ]:
#total_data.groupby(['Current Component'], sort = False).count()

In [7]:
total_data.loc[total_data['Current Component'] != 'E-RRC','Current Component' ] =0

In [8]:
total_data.loc[total_data['Current Component'] == 'E-RRC' ,'Current Component'] = 1

In [9]:
total_data.astype(np.float64).head(4)

,SMSId,Current Component,SIG_100000,SIG_100002,SIG_100004,SIG_100006,SIG_100008,SIG_100010,SIG_100012,SIG_100014,...,SIG_200278,SIG_200280,SIG_200282,SIG_200284,SIG_200286,SIG_200288,SIG_200290,SIG_200292,SIG_200294,SIG_200296
0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
total_data_Y = total_data["Current Component"].copy().astype(np.float64)

In [11]:
total_data_Y.head(5)

0    1.0
1    1.0
2    0.0
3    0.0
4    0.0
Name: Current Component, dtype: float64

In [ ]:
#total_data_YY =  total_data_Y.to_frame(name =  "Current Component")

In [12]:
total_data_X = total_data.drop(["Current Component"], axis = 1).copy()

In [13]:
#total_data_X.reset_index(drop=True)
#total_data_arr_X = total_data_X.as_matrix(columns=None)

In [14]:
 total_data_X.shape, total_data_Y.shape

((807, 301), (807,))

In [ ]:
#total_data_Y.reset_index(drop=True)
#total_data_Y=total_data_Y.astype('int')
#total_data_arr_Y = total_data_Y.as_matrix(columns=None)

In [ ]:
#total_data_arr_Y.shape, total_data_arr_X.shape, total_data_Y.shape, total_data_X.shape

In [ ]:
#type(total_data_arr_Y),type(total_data_arr_X),type(total_data_Y),type(total_data_X)

In [15]:
 total_data_X.describe()

,SMSId,SIG_100000,SIG_100002,SIG_100004,SIG_100006,SIG_100008,SIG_100010,SIG_100012,SIG_100014,SIG_100016,...,SIG_200278,SIG_200280,SIG_200282,SIG_200284,SIG_200286,SIG_200288,SIG_200290,SIG_200292,SIG_200294,SIG_200296
count,807.000000,807.000000,807.000000,807.000000,807.0,807.000000,807.000000,807.000000,807.0,807.0,...,807.0,807.0,807.0,807.0,807.0,807.0,807.0,807.0,807.0,807.0
mean,404.000000,0.070632,0.009913,0.009913,0.0,0.006196,0.001239,0.001239,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,233.105126,0.256368,0.099132,0.099132,0.0,0.078518,0.035202,0.035202,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,202.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,404.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,605.500000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,807.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
seed = 2
scoring = 'accuracy'

In [17]:

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn import model_selection

In [18]:
X_train, X_validation, Y_train, Y_validation = model_selection.train_test_split(total_data_X, total_data_Y, test_size=.2, random_state=seed)

In [19]:
X_train.shape, X_validation.shape, Y_train.shape, Y_validation.shape

((645, 301), (162, 301), (645,), (162,))

In [20]:
models = []
models.append(('LR', LogisticRegression()))
#models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
models.append(('RanFor', RandomForestClassifier()))
# evaluate each model in turn
results = []
names = []
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, X_train.loc[:,"SIG_100000":], Y_train, cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.785986 (0.037453)
KNN: 0.775240 (0.025815)
CART: 0.789207 (0.044268)
NB: 0.482308 (0.055118)
SVM: 0.779736 (0.031454)
RanFor: 0.804447 (0.048463)

In [21]:
knn = LogisticRegression( )
knn.fit(X_train.loc[:,"SIG_100000":], Y_train)
predictions_val = knn.predict(X_validation.loc[:,"SIG_100000":])
predictions_train = knn.predict(X_train.loc[:,"SIG_100000":])
print(accuracy_score(Y_train, predictions_train))
print(accuracy_score(Y_validation, predictions_val))
print(confusion_matrix(Y_validation, predictions_val,labels = [0,1]))
print(classification_report(Y_validation, predictions_val))
#print(X_validation.shape)

0.852713178295
0.70987654321
[[64 14]
 [33 51]]
             precision    recall  f1-score   support

        0.0       0.66      0.82      0.73        78
        1.0       0.78      0.61      0.68        84

avg / total       0.72      0.71      0.71       162

In [42]:
predicti = pd.DataFrame(predictions_val)
predicti.reset_index(drop=True, inplace=True)

In [43]:
breakupval = pd.concat([X_validation,Y_validation], axis = 1
                      ,ignore_index=False)
breakupval.reset_index(drop=True, inplace=True)
breakup_train = pd.concat([breakupval,predicti], axis = 1
                      ,ignore_index=False, names = ["Actual test",'Predicted Value']  )

In [44]:
#breakup_train.head(2)

In [45]:
breakup_train.rename(index=str, columns={"Current Component":"Actual Value", 0: "Predicted Value"}, inplace = True)

In [46]:
breakup_train.to_csv("C:\\R_Lang\Hackathons\\Sample Data\\Classification\\Validation_Shuffle_Act_vs_Pred.csv",index=False)

In [48]:
predictin = pd.DataFrame(predictions_train)
predictin.reset_index(drop=True, inplace=True)
breakuptrain = pd.concat([X_train,Y_train], axis = 1
                      ,ignore_index=False)
breakuptrain.reset_index(drop=True, inplace=True)
breakuptrain = pd.concat([breakuptrain,predictin], axis = 1
                      ,ignore_index=False, names = ["Actual test",'Predicted Value']  )
breakuptrain.rename(index=str, columns={"Current Component":"Actual Value", 0: "Predicted Value"}, inplace = True)

In [49]:
breakuptrain.to_csv("C:\\R_Lang\Hackathons\\Sample Data\\Classification\\Train_Shuffle_Act_vs_Pred.csv",index=False)

In [27]:
rf = RandomForestClassifier( )
#knn.fit(X_train, Y_train)
rf.fit(X_train.loc[:,"SIG_100000":], Y_train)
predictions_val = rf.predict(X_validation.loc[:,"SIG_100000":])
predictions_train = rf.predict(X_train.loc[:,"SIG_100000":])
print(accuracy_score(Y_train, predictions_train))
print(accuracy_score(Y_validation, predictions_val))
print(confusion_matrix(Y_validation, predictions_val,labels = [0,1]))
print(classification_report(Y_validation, predictions_val))

0.945736434109
0.808641975309
[[73  5]
 [26 58]]
             precision    recall  f1-score   support

        0.0       0.74      0.94      0.82        78
        1.0       0.92      0.69      0.79        84

avg / total       0.83      0.81      0.81       162

#### This shows the predicted vs True( Actual) cases. 88 and 43 are the right predictions and 23 and 8 are incorrect, as the Machine predicted as 0 but in actual it was 1 and vice versa.

In [28]:
pd.crosstab(Y_validation, predictions_val,rownames=['True'], colnames=['Predicted'], margins=True)

Predicted  0.0  1.0  All
True
0.0         73    5   78
1.0         26   58   84
All         99   63  162

In [29]:
importance = rf.feature_importances_
importance = pd.DataFrame(importance, index=list(X_train.loc[[],"SIG_100000":]), 
                          columns=["Importance"])

In [ ]:
importance

In [ ]:
data_sorted_values = importance.sort_values('Importance',axis=0, ascending=False)

In [ ]:
data_sorted_values[0:10].index

In [ ]:
grap = pd.concat([total_data_Y, total_data[data_sorted_values[0:10].index]], axis = 1)

In [ ]:
grap.head(2)

In [ ]:
#total_data[data_sorted_values[0:3].index]

In [ ]:
#rf.feature_importances_

#### This graph shows the histogram of the positive and negative class

In [ ]:
total_data['Current Component'].hist()
plt.show()

In [ ]:
corr = grap.corr()

#### This graph shows how the probablities of positive and negative outcomes are related. This will the probabilties compared toactual outcome ( X_validation set) , point to be noted there are total 31 records which are misclassified and those are also here.

In [ ]:
plt.scatter(np.ravel(Y_validation),knn.predict_proba(X_validation)[:,1])
plt.xlabel("Component")
plt.ylabel("Probability of Component marked Correct")
plt.show()

#### This graph will show how the top 11 variables and correlated to each other, scale is on the right side to show +ve and -ve correlation

In [ ]:
#f, ax = plt.subplots(figsize=(12, 9))
plt.figure(figsize=(16,16))
sns.heatmap(corr, vmax=1, square=True)
plt.show()

In [ ]:
total_data.count_

In [ ]:
1/0

In [ ]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]})
df.rename(index=str, columns={"A": "a", "B": "c"})
print(df)