In [2]:
import pandas as pd
import math
import nltk as nl
import numpy as np

In [126]:
def termfrequency(sentence,term="None"):
    tf= {}
    split = nl.word_tokenize(sentence)
    if term =="None":   
        unique_words = set(split)
        for words in unique_words:
            #print(words, nl.word_tokenize(sentence).count(words))
            tf.update({words:split.count(words)/len(split)})
    else:
        tf.update({term:split.count(term)/len(split)})
    return(tf)

In [283]:
termfrequency(string)

{'game': 0.5, 'learning': 0.5}

In [128]:
def Documentfrequency(term, lstofdocs):
    found_doc = 0
    for doc in lstofdocs:
        if term.lower() in doc.lower().split():
            found_doc+= 1
           
    if found_doc > 1:
        # Total number of documents 
        total_num_docs = len(lstofdocs)  
        #print(found_doc)
        # Calculating the IDF  
        idf_val = math.log(float(total_num_docs) / found_doc) 
        return 1 + idf_val 
    else: 
        return 1

In [157]:
Documentfrequency("the", documents)

1.4054651081081644

In [132]:
tf_word = termfrequency(D3,"good")

In [133]:
tf_word

{'good': 0.0}

In [274]:
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer

In [204]:
D1 = "The game game of life is an game of everlasting learning"
D2 = "The unexamined life is not worth living"
D3 =  "Never stop learning"
D4 = """Doc2vec is an entirely different algorithm from tf-idf which uses a 3 layered shallow deep neural network to gauge the context of the document and relate similar context phrases together .

Important thing to note about doc2vec is that it is not a monolithic algorithm like bag of words,it has two different variations SKIP GRAM and CBOW also it is used with other variations like with or w/o negative sampling and with or w/o hierarchical softmax.

"""

In [258]:
documents = [D1,D2,D3]

In [259]:
st_words = ["is","am","the", "of", "an"]

In [260]:
vec = TfidfVectorizer(max_features = 400,stop_words=st_words,norm = "l2",tf)

In [261]:
tfidf = vec.fit_transform(documents)

In [267]:
vec.idf_

array([1.69314718, 1.69314718, 1.28768207, 1.28768207, 1.69314718,
       1.69314718, 1.69314718, 1.69314718, 1.69314718, 1.69314718])

In [263]:
vec.get_feature_names()

['everlasting',
 'game',
 'learning',
 'life',
 'living',
 'never',
 'not',
 'stop',
 'unexamined',
 'worth']

In [272]:
#df_tfidf = pd.DataFrame(tfidf.todense(),columns =vec.get_feature_names(), index=["D1","D2","D3"] )
df_idf = pd.DataFrame(vec.idf_, index=vec.get_feature_names() )

In [273]:
df_idf

                    0
everlasting  1.693147
game         1.693147
learning     1.287682
life         1.287682
living       1.693147
never        1.693147
not          1.693147
stop         1.693147
unexamined   1.693147
worth        1.693147

In [266]:
df.rename_axis(["DocNames"])

,everlasting,game,learning,life,living,never,not,stop,unexamined,worth
DocNames,,,,,,,,,,
D1,0.299385,0.898155,0.22769,0.227690,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
D2,0.000000,0.000000,0.00000,0.355432,0.467351,0.000000,0.467351,0.000000,0.467351,0.467351
D3,0.000000,0.000000,0.47363,0.000000,0.000000,0.622766,0.000000,0.622766,0.000000,0.000000

In [323]:
string = "game game learning"

In [380]:
lst_query = []
lst_tf_idf = []
for i in (val.items()):
    lst_query.append(i[1])
    lst_tf_idf.append(df[i[0]])

In [388]:
arr_query = np.array(lst_query),
type(arr_query)
#arr_query = arr_query.reshape(np.asarray(arr_query).shape[0],1)
#arr_tf_idf = np.asarray(lst_tf_idf)

numpy.ndarray

In [382]:
arr_query.shape

AttributeError: 'tuple' object has no attribute 'shape'

In [372]:
arr_tf_idf

array([[0.89815533, 0.        , 0.        ],
       [0.22769009, 0.        , 0.4736296 ]])

In [374]:
(np.dot(arr_query.T, arr_tf_idf)).shape

AttributeError: 'tuple' object has no attribute 'T'

In [1]:
del a ,b ,c, integer_list,t

NameError: name 'a' is not defined

In [524]:
n = int(input())
arr = map(int, input().split())
arr = set(arr)
arr = list(arr)
arr.sort()
arr[-2]

5
1 2 4 6 6 5

5

In [518]:
print('{:.2f}'.format(20/3))

6.67

In [14]:
st = ["Harry",37.21],["Berry",37.21],["Tina",37.2],["Akriti",41],["Harsh",39]

In [15]:
print(st)

(['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39])

In [550]:
zes = max(a)
i=0
while(i<n):
    if zes ==max(a):
        print("before:",a)
        a.remove(max(a))
        print("after:",a)
    i+=1
print(max(a))

before: [1, 2, 4, 6, 6, 5]
after: [1, 2, 4, 6, 5]
before: [1, 2, 4, 6, 5]
after: [1, 2, 4, 5]
5

In [545]:
 a.sort()
for i in range(len(a)):
    
    print(a[-(i+1)])
    #aa =  i
    #if aa <

6
6
5
4
2
1